
<div class="quiz-container">
    <h2>Test Your Knowledge!</h2>
    <ul class="questions">
        <% results.forEach((question, index) => { %>
            <li class="question-item">
                <p><%= index + 1 %>. <%= question.question %></p>
                <ul class="answers">
                    <% [question.correct_answer, ...question.incorrect_answers].sort(() => Math.random() - 0.5).forEach(answer => { %>
                        <li><button class="answer-btn"><%= answer %></button></li>
                    <% }) %>
                </ul>
            </li>
        <% }) %>
    </ul>
</div>
